.indexUsers{
  header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

  }
  h2{
    font: 'Segoe UI';
    font-weight: 800;
    font-size: 32px;
  }
  .options{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .search{
      max-width: 300px;
    }
    .show-pages{
      max-width: 150px
    }
    @media screen and (max-width: 720px) {
      flex-direction: column;
      .search{
        max-width: inherit;
      }
      .show-pages{
        max-width: inherit
      }
    }
  }
}