// @import './utils/normalize.scss';
@import './components/table.scss';
@import './components/pagination.scss';
@import './pages/indexUsers';
@import './pages/cadastro';

body{
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont,  Helvetica, "Apple Color Emoji", Arial, sans-serif;
  background-color: #fafafa;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 40px;
  a{
    color: inherit !important;
    text-decoration: none;
  }
}